Package: com.yourcompany.wxtweak
Name: wxTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: hp
Author: hp
Section: Tweaks
